on:
  push:

name: "Translations Sync"

jobs:
  push-strings-to-transifex:
    name: push-strings-to-transifex

    runs-on: ubuntu-latest

    steps:
      - name: "Checkout"
        uses: actions/checkout@v2

      - name: "Merge and push to transifex"
        with: # Or as an environment variable
            tx_token: ${{ secrets.TX_TOKEN }}
            git_flow: true
            github_token: ${{ secrets.GITHUB_TOKEN }}
            translations_folder: config/locale
            pull_translations: true
            pull_sources: true
            push_translations: true
            push_sources: true
        uses: docker://sergioisidoro/github-transifex-action:v0.2.0
